body {
    background-color: black;
    color: whitesmoke;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#response_section,
#on_success,
#on_failure {
    display: none;
}